/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  color: white;
}

.error {
  font-family: sans-serif;
  font-weight: bold;
  color: #a33535;
  background-color: #e0caca;
  padding: 5px;
  text-align: center;
}
